@model IEnumerable<TestMVCApplication.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

<h2>List Of Moview released after 2012</h2>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Movie1)</th>
            <th>@Html.DisplayNameFor(m => m.Genere)</th>
            <th>@Html.DisplayNameFor(p => p.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var R in Model)
       {
           @Html.Partial("Detail", R)
       }
    </tbody>
    
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
